:root {
  --border-color: rgb(190, 190, 190);
}

html {
  width: 100vw;
}

body {
  padding: 0 1rem 0 1rem;
}

table {
  width: 100%;
  max-width: none;
  border-collapse: collapse;
}

tr {
  border-bottom: solid var(--border-color) 1px;
}

tbody tr:last-child {
  border-bottom: unset;
}

td, th {
  text-align: left;
  padding: 0.5rem;
}

.table-box {
  width: 100%;
  border: solid var(--border-color) 1px;
  border-radius: 0.5rem;
  overflow: auto;
}